@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto:700");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav {
  display: none;
}

nav {
  background-color: white;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 8rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#logo {
  margin: auto 0;
  text-decoration: none;
}

.popout {
  font-family: sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}

@-webkit-keyframes ani {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #0de492;
    color: black;
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #0de492;
    color: black;
  }
  70% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
            transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #0de492;
    color: black;
  }
  100% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
            transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #0de492;
    color: black;
  }
}

@keyframes ani {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #0de492;
    color: black;
  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #0de492;
    color: black;
  }
  70% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
            transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #0de492;
    color: black;
  }
  100% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
            transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #0de492;
    color: black;
  }
}

.popout span {
  display: inline-block;
  -webkit-animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
          animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}

.popout span:nth-last-child(1n) {
  -webkit-animation-delay: -0.16667s;
          animation-delay: -0.16667s;
}

.popout span:nth-last-child(2n) {
  -webkit-animation-delay: -0.33333s;
          animation-delay: -0.33333s;
}

.popout span:nth-last-child(3n) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}

.nav-list {
  text-decoration: none;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list li {
  /* هم انداره ارتفاع nav */
  line-height: 8rem;
  position: relative;
}

.sub-menu li {
  line-height: 4rem;
  list-style-type: none;
}

.nav-list a {
  display: block;
  color: black;
  padding: 0 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  /* رنگ گزینه های منو اصلی ارووم تغییر کنه */
  -webkit-transition: color 300ms;
  transition: color 300ms;
}

.nav-list a:hover {
  color: #0de492;
  -webkit-text-decoration: overline 3px #0de492;
          text-decoration: overline 3px #0de492;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* منو داخلی */
.sub-menu {
  display: block;
  position: absolute;
  border-top: 3px solid #0de492;
  border-radius: 1rem;
  background-color: #e4e4e4e1;
  z-index: 100;
  top: 16rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

/* مثلث قرمز بالای منو داخلی */
.sub-menu::before {
  content: "";
  position: absolute;
  top: -2.5rem;
  left: 1rem;
  border: 1.2rem solid transparent;
  border-bottom-color: #0de492;
}

/* منو داخل منو داخلی */
.sub-menu .sub-menu::before {
  top: 0.9rem;
  right: -2.5rem;
  border: 1.2rem solid transparent;
  border-right: #0de492;
}

.sub-menu .sub-menu {
  border-top: none;
  border-left: 3px solid #0de492;
  top: 20%;
  right: 150%;
}

/* اولین منو داخلی */
.nav-list li:hover > .sub-menu {
  top: 8rem;
  opacity: 100;
  visibility: visible;
}

/* منو داخلی های دوم و سوم */
.sub-menu li:hover > .sub-menu {
  top: -10%;
  right: 145%;
}

.slideshow {
  list-style-type: none;
}

/** SLIDESHOW **/
.main-aval {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
}

.main-aval,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  height: 70vh;
}

.slider__slides {
  z-index: 1;
  position: relative;
  height: 100%;
}

.slider__control {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 5%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 50%;
  background: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
}

.slider__control--right {
  left: 95%;
}

.slider__control:hover {
  background-color: #0de492;
}

.slider__control-line {
  position: absolute;
  left: 23px;
  top: 50%;
  width: 3px;
  height: 14px;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider__control-line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(-135deg);
          transform: translateY(1px) rotate(-135deg);
}

.slider__control--right .slider__control-line {
  left: 37px;
  -webkit-transform-origin: 1px 0;
          transform-origin: 1px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.slider__control--right .slider__control-line:nth-child(2) {
  -webkit-transform: translateY(1px) rotate(135deg);
          transform: translateY(1px) rotate(135deg);
}

.slider__control-line:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.slider__control:hover .slider__control-line:after {
  background-color: #fff;
}

.slider__control.a--rotation .slider__control-line:after {
  -webkit-animation: arrowLineRotation 0.49s;
          animation: arrowLineRotation 0.49s;
}

.slider__control.a--rotation .slider__control-line:nth-child(1):after {
  -webkit-animation: arrowLineRotationRev 0.49s;
          animation: arrowLineRotationRev 0.49s;
}

@-webkit-keyframes arrowLineRotation {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes arrowLineRotation {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes arrowLineRotationRev {
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes arrowLineRotationRev {
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.slide {
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150vmax;
  height: 150vmax;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  -webkit-transition: -webkit-clip-path 0s 0.91s;
  transition: -webkit-clip-path 0s 0.91s;
  transition: clip-path 0s 0.91s;
  transition: clip-path 0s 0.91s, -webkit-clip-path 0s 0.91s;
  -webkit-clip-path: circle(30px at 120vw 50%);
          clip-path: circle(30px at 120vw 50%);
}

.slide.s--prev {
  -webkit-clip-path: circle(30px at 30vw 50%);
          clip-path: circle(30px at 30vw 50%);
}

.slide.s--active {
  z-index: 1;
  -webkit-transition: -webkit-clip-path 1.3s;
  transition: -webkit-clip-path 1.3s;
  transition: clip-path 1.3s;
  transition: clip-path 1.3s, -webkit-clip-path 1.3s;
  -webkit-clip-path: circle(120vmax at 120vw 50%);
          clip-path: circle(120vmax at 120vw 50%);
}

.slide.s--active.s--active-prev {
  -webkit-clip-path: circle(120vmax at 30vw 50%);
          clip-path: circle(120vmax at 30vw 50%);
}

.slide:nth-child(1) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-2.jpg");
}

.slide:nth-child(2) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-3.jpg");
}

.slide:nth-child(3) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-4.jpg");
}

.slide:nth-child(4) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-5.jpg");
}

.slide:nth-child(5) .slide__inner {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/onepgscr-6.jpg");
}

.slide__inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100vw;
  height: 100vh;
  margin-left: -50vw;
  margin-top: -50vh;
  background-size: cover;
  background-position: center center;
}

.slide__inner:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.slide__content {
  position: absolute;
  left: 5%;
  top: 50%;
  margin-left: -30px;
  margin-top: 48px;
  max-width: 480px;
  color: #fff;
}

.slide__heading {
  margin-bottom: 20px;
  font-size: 60px;
}

.slide__text {
  font-size: 25px;
}

.slide__text a {
  color: inherit;
}

.slidedo {
  background-color: #fff5f5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  overflow: hidden;
}

.wrapperr {
  position: relative;
  margin: 2rem auto;
  max-width: 1300px;
  max-height: 1300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-gap: 2vmin;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slidedo IMG {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.slidedo IMG:nth-child(7n + 1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
}

.slidedo IMG:hover {
  z-index: 2;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.main-do {
  padding: 3rem 2rem 2rem 0;
  position: relative;
  font-family: "Oswald", sans-serif;
  background: #eceaea;
  color: #1a1a1a;
  font-size: 20px;
}

.grid {
  list-style: none;
  margin-left: -40px;
}

.gc {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  margin-right: -0.25em;
  min-height: 1px;
  padding-left: 40px;
  vertical-align: top;
}

.gc--1-of-3 {
  width: 33.33333%;
}

.gc--2-of-3 {
  width: 66.66666%;
}

.naccs {
  position: relative;
  overflow: hidden;
  margin: auto;
}

.naccs .menu div {
  min-width: 8rem;
  padding: 15px 20px 15px 40px;
  margin-bottom: 10px;
  color: white;
  background: #0de492;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  font-weight: 700;
  -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media (max-width: 400px) {
  .main-do p {
    padding-left: 1rem;
  }
}

.naccs .menu div:hover {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #38ee75;
}

.naccs .menu div span.light {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 24px;
  left: 15px;
  background-color: white;
  border-radius: 100%;
  -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
  background-color: black;
  left: 0;
  height: 100%;
  width: 3px;
  top: 0;
  border-radius: 0;
}

.naccs .menu div.active {
  color: black;
  padding: 15px 20px 15px 20px;
}

ul.nacc {
  position: relative;
  height: 0px;
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  position: absolute;
  list-style: none;
  -webkit-transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

ul.nacc li p {
  margin: 0;
}

.gridi {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  background-color: #fff5f5;
}

@-webkit-keyframes showTopText {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes showTopText {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes showBottomText {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes showBottomText {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.animated-title {
  color: #222;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  height: 100%;
  margin: 2rem auto;
  text-align: center;
  width: 90vmin;
  font-family: "Kanit", sans-serif;
}

.animated-title > div {
  height: auto;
  overflow: hidden;
  width: 100%;
}

.animated-title > div div {
  font-size: 1.2rem;
  padding: 4vmin 0;
}

.animated-title > div div span {
  display: block;
}

.animated-title > div.text-top {
  border-bottom: 1vmin solid #0de492;
}

.animated-title > div.text-top div {
  -webkit-animation: showTopText 2.5s;
          animation: showTopText 2.5s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  bottom: 0;
  -webkit-transform: translate(0%, 100%);
          transform: translate(0%, 100%);
}

.animated-title > div.text-top #yek {
  -webkit-animation: showTopText 1s;
          animation: showTopText 1s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  bottom: 0;
  -webkit-transform: translate(100%, 0%);
          transform: translate(100%, 0%);
}

.animated-title > div.text-top #do {
  -webkit-animation: showTopText 1s;
          animation: showTopText 1s;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.animated-title > div.text-top #se {
  -webkit-animation: showTopText 1s;
          animation: showTopText 1s;
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
}

.animated-title > div.text-bottom div {
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  text-align: center;
  -webkit-transform: translate(100, -100%);
          transform: translate(100, -100%);
}

.animated-title > div.text-bottom #chahar {
  -webkit-animation: showBottomText 2.5s;
          animation: showBottomText 2.5s;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.animated-title > div.text-bottom #panj {
  -webkit-animation: showBottomText 2.5s;
          animation: showBottomText 2.5s;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  margin-right: 1rem;
}

.animated-title > div.text-bottom #panj a {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

.animated-title > div.text-bottom #panj a:hover {
  color: #15e283;
}

.animated-title > div.text-bottom #panj a {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.animated-title > div.text-bottom img {
  -webkit-animation: showBottomText 2.5s;
          animation: showBottomText 2.5s;
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  margin-right: 1rem;
}

.main-g {
  display: -ms-grid;
  display: grid;
  background-color: #fff5f5;
  margin: 5.1rem 0;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.forms-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-title {
  font-size: 32px;
  letter-spacing: 1px;
  color: black;
}

.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: auto;
}

.form-wrapper {
  -webkit-animation: hideLayer 0.3s ease-out forwards;
          animation: hideLayer 0.3s ease-out forwards;
}

.form-wrapper.is-active {
  -webkit-animation: showLayer 0.3s ease-in forwards;
          animation: showLayer 0.3s ease-in forwards;
}

@-webkit-keyframes showLayer {
  50% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}

@keyframes showLayer {
  50% {
    z-index: 1;
  }
  100% {
    z-index: 1;
  }
}

@-webkit-keyframes hideLayer {
  0% {
    z-index: 1;
  }
  49.999% {
    z-index: 1;
  }
}

@keyframes hideLayer {
  0% {
    z-index: 1;
  }
  49.999% {
    z-index: 1;
  }
}

.switcher {
  position: relative;
  cursor: pointer;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #a7a4a4;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.form-wrapper.is-active .switcher-login {
  color: black;
  -webkit-transform: translateX(90px);
          transform: translateX(90px);
}

.form-wrapper.is-active .switcher-signup {
  color: black;
  -webkit-transform: translateX(-90px);
          transform: translateX(-90px);
}

.underline {
  position: absolute;
  bottom: -5px;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  width: 100%;
  height: 2px;
}

.underline::before {
  content: "";
  position: absolute;
  top: 0;
  left: inherit;
  display: block;
  width: inherit;
  height: inherit;
  background-color: currentColor;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.switcher-login .underline::before {
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
}

.switcher-signup .underline::before {
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.form {
  overflow: hidden;
  min-width: 260px;
  margin-top: 50px;
  padding: 30px 25px;
  border-radius: 5px;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.form-login {
  -webkit-animation: hideLogin 0.3s ease-out forwards;
          animation: hideLogin 0.3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
  -webkit-animation: showLogin 0.3s ease-in forwards;
          animation: showLogin 0.3s ease-in forwards;
}

@-webkit-keyframes showLogin {
  0% {
    background: #d7e7f1;
    -webkit-transform: translate(40%, 10px);
            transform: translate(40%, 10px);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    background-color: #19a363;
    -webkit-transform: translate(35%, -20px);
            transform: translate(35%, -20px);
  }
}

@keyframes showLogin {
  0% {
    background: #d7e7f1;
    -webkit-transform: translate(40%, 10px);
            transform: translate(40%, 10px);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    background-color: #19a363;
    -webkit-transform: translate(35%, -20px);
            transform: translate(35%, -20px);
  }
}

@-webkit-keyframes hideLogin {
  0% {
    background-color: #19a363;
    -webkit-transform: translate(35%, -20px);
            transform: translate(35%, -20px);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    background: #d7e7f1;
    -webkit-transform: translate(40%, 10px);
            transform: translate(40%, 10px);
  }
}

@keyframes hideLogin {
  0% {
    background-color: #19a363;
    -webkit-transform: translate(35%, -20px);
            transform: translate(35%, -20px);
  }
  50% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    background: #d7e7f1;
    -webkit-transform: translate(40%, 10px);
            transform: translate(40%, 10px);
  }
}

.form-signup {
  -webkit-animation: hideSignup 0.3s ease-out forwards;
          animation: hideSignup 0.3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
  -webkit-animation: showSignup 0.3s ease-in forwards;
          animation: showSignup 0.3s ease-in forwards;
}

@-webkit-keyframes showSignup {
  0% {
    background: #d7e7f1;
    -webkit-transform: translate(-40%, 10px) scaleY(0.8);
            transform: translate(-40%, 10px) scaleY(0.8);
  }
  50% {
    -webkit-transform: translate(0, 0) scaleY(0.8);
            transform: translate(0, 0) scaleY(0.8);
  }
  100% {
    background-color: #19a363;
    -webkit-transform: translate(-35%, -20px) scaleY(1);
            transform: translate(-35%, -20px) scaleY(1);
  }
}

@keyframes showSignup {
  0% {
    background: #d7e7f1;
    -webkit-transform: translate(-40%, 10px) scaleY(0.8);
            transform: translate(-40%, 10px) scaleY(0.8);
  }
  50% {
    -webkit-transform: translate(0, 0) scaleY(0.8);
            transform: translate(0, 0) scaleY(0.8);
  }
  100% {
    background-color: #19a363;
    -webkit-transform: translate(-35%, -20px) scaleY(1);
            transform: translate(-35%, -20px) scaleY(1);
  }
}

@-webkit-keyframes hideSignup {
  0% {
    background-color: #19a363;
    -webkit-transform: translate(-35%, -20px) scaleY(1);
            transform: translate(-35%, -20px) scaleY(1);
  }
  50% {
    -webkit-transform: translate(0, 0) scaleY(0.8);
            transform: translate(0, 0) scaleY(0.8);
  }
  100% {
    background: #d7e7f1;
    -webkit-transform: translate(-40%, 10px) scaleY(0.8);
            transform: translate(-40%, 10px) scaleY(0.8);
  }
}

@keyframes hideSignup {
  0% {
    background-color: #19a363;
    -webkit-transform: translate(-35%, -20px) scaleY(1);
            transform: translate(-35%, -20px) scaleY(1);
  }
  50% {
    -webkit-transform: translate(0, 0) scaleY(0.8);
            transform: translate(0, 0) scaleY(0.8);
  }
  100% {
    background: #d7e7f1;
    -webkit-transform: translate(-40%, 10px) scaleY(0.8);
            transform: translate(-40%, 10px) scaleY(0.8);
  }
}

.form fieldset {
  position: relative;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.form-login fieldset {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.form-signup fieldset {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.4s ease-in, -webkit-transform 0.35s ease-in;
  transition: opacity 0.4s ease-in, -webkit-transform 0.35s ease-in;
  transition: opacity 0.4s ease-in, transform 0.35s ease-in;
  transition: opacity 0.4s ease-in, transform 0.35s ease-in, -webkit-transform 0.35s ease-in;
}

.form legend {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.input-block {
  margin-bottom: 20px;
}

.input-block label {
  font-size: 14px;
  color: #a1b4b4;
}

.input-block input {
  display: block;
  width: 100%;
  margin-top: 8px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
  background: #19a363 0fd;
  border: 1px solid #cddbef;
  border-radius: 2px;
}

.form [type="submit"] {
  opacity: 0;
  display: block;
  min-width: 120px;
  margin: 30px auto 10px;
  font-size: 18px;
  line-height: 40px;
  border-radius: 25px;
  border: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.form-wrapper.is-active .form [type="submit"] {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.btn-login {
  color: #a7e245;
  background: #19a363;
  -webkit-box-shadow: inset 0 0 0 2px #a7e245;
          box-shadow: inset 0 0 0 2px #a7e245;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.btn-signup {
  color: #a7e245;
  background: #19a363;
  -webkit-box-shadow: inset 0 0 0 2px #a7e245;
          box-shadow: inset 0 0 0 2px #a7e245;
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.btn-signup:hover {
  cursor: pointer;
  color: #19a363;
  background-color: white;
}

.btn-login:hover {
  cursor: pointer;
  color: #19a363;
  background-color: white;
}

.foot-g {
  line-height: 3rem;
  background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141414;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

footer img:hover {
  -webkit-transform: scale(150%) rotate(360deg);
          transform: scale(150%) rotate(360deg);
}

img {
  -webkit-transition: -webkit-transform 1.2s;
  transition: -webkit-transform 1.2s;
  transition: transform 1.2s;
  transition: transform 1.2s, -webkit-transform 1.2s;
}

.social,
.adress {
  text-align: center;
  padding: 2rem;
  color: #f9ffc6;
}

/*-- Base Styles --*/
.sign {
  position: relative;
  margin: 0;
  height: 100%;
}

.sign {
  font-family: serif;
}

/*-- Sign Styles --*/
.sign {
  text-align: center;
}

.sign__word {
  font-size: 4rem;
  text-align: center;
  line-height: 1.5;
  color: #ffffff;
  -webkit-animation: neon 0.08s ease-in-out infinite alternate;
          animation: neon 0.08s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/
@-webkit-keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}
@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52), 0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78), 0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98), 0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58), 0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88), 0 0 60px #1e84f2;
  }
}

.sign a {
  text-decoration: none;
}

.sign a:focus, .sign a:hover {
  color: #c6e2ff;
  text-shadow: 0 0 2px rgba(202, 228, 225, 0.92), 0 0 10px rgba(202, 228, 225, 0.34), 0 0 4px rgba(30, 132, 242, 0.52), 0 0 7px rgba(30, 132, 242, 0.92), 0 0 11px rgba(30, 132, 242, 0.78), 0 0 16px rgba(30, 132, 242, 0.92);
}

@media (min-width: 1300px) {
  .mainnav {
    padding-left: 5rem;
  }
}

@media (min-width: 650px) {
  footer .social {
    margin: auto;
  }
  footer .sign {
    padding: 7rem 2rem 0 0;
  }
}

@media (max-width: 1000px) {
  nav {
    text-align: center;
    display: block;
    height: auto;
  }
  .popout {
    margin: auto;
    font-size: 2.6rem;
  }
}

@media (max-width: 735px) {
  #logo {
    margin: auto;
    text-decoration: none;
  }
  .popout {
    width: auto;
    font-size: 2.5rem;
    margin: auto 3rem;
  }
  .nav-list {
    display: none;
  }
  .nav {
    display: block;
    margin-bottom: 2rem;
  }
  .multi-level,
  .item ul,
  .nav input[type="checkbox"] {
    display: none;
  }
  #menu:checked ~ .multi-level,
  .item input:checked ~ ul {
    display: block;
  }
  /* arrow */
  .arrow {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 1.5rem 0rem 0 0.5rem;
  }
  .arrow1 {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 17px 1.5em 0 2em;
  }
  .arrow2 {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    float: left;
    z-index: 0;
    margin: 17px 1em 0 2em;
  }
  .item input + .arrow {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .item input:checked + .arrow {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .item input + .arrow1 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .item input:checked + .arrow1 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .item input + .arrow2 {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .item input:checked + .arrow2 {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  label {
    width: 100%;
    display: block;
    /* تا بعدا علامت فلشو بهش بچسبونم */
    position: relative;
  }
  .nav {
    width: 100%;
    background-color: #db0231;
    overflow-x: hidden;
    border-bottom: 1px solid #fafafa;
  }
  #nav-icon {
    font-size: 28px;
    line-height: 50px;
    padding-left: 2rem;
    color: white;
    background-color: #f3571a;
  }
  .nav ul {
    line-height: 50px;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    font-weight: 800;
  }
  .item a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    margin: auto;
  }
  .nav #se {
    line-height: 50px;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    font-weight: 800;
  }
  .nav #bish {
    line-height: 50px;
    padding: 0 3em;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    font-weight: 800;
  }
  label {
    line-height: 50px;
    margin: 0;
    padding: 0 2em;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    font-weight: 800;
  }
  .item ul {
    padding: 0 0.25em;
    background-color: #ff1447;
  }
  .nav li a {
    line-height: 50px;
    margin: 0;
    padding: 0 4em;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
  }
  #nav-icon:hover {
    color: black;
  }
  a:hover {
    color: black;
  }
  label:hover {
    color: #0c0c0c;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: pointer;
  }
  .item a:hover {
    color: black;
    -webkit-transition: 1s;
    transition: 1s;
  }
  .slide__heading {
    font-size: 2rem;
    margin: 7rem 2rem;
  }
  .slide__text {
    font-size: 2rem;
    margin: -6rem 2rem;
  }
  .gridi {
    display: block;
  }
  .animated-title > div.text-top {
    border-bottom: 1vmin solid #f3571a;
  }
}

@media (max-width: 650px) {
  .foot-g {
    display: block;
  }
  footer span {
    margin: 0.5rem;
  }
}

@media (max-width: 550px) {
  .slide__heading {
    font-size: 1.5rem;
    margin: 8rem 2rem;
  }
  .slide__text {
    font-size: 1.5rem;
    margin: -7rem 2rem;
  }
  .slideshow li span {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  .forms-section {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .forms {
    margin: 2rem;
  }
}

@media (max-width: 500px) {
  #logo {
    margin: auto;
    text-decoration: none;
  }
  .popout {
    font-size: 1.9rem;
  }
}
/*# sourceMappingURL=aval.css.map */